In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("Sample shoeworld_sales_data_DMCP_0724.csv")
df.head()

       Date  Category  Sales   Price    Store
0  1/1/2023  Athletic     35   54.55  Store_C
1  1/1/2023    Casual     10  160.76  Store_C
2  1/1/2023  Seasonal     99  162.35  Store_C
3  1/1/2023    Formal     14  102.98  Store_A
4  1/1/2023    Casual     18   60.77  Store_B

In [4]:
df.shape

(30000, 5)

In [20]:
athletic_nov=pd.DataFrame()
date=[]
for i in range(len(df)):
    ele=df['Date'][i]
    if(ele=='^11[\][0-9][0-9][\][0-9][0-9]'):
        date.append(ele)

print(date)

[]